# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.envrc
.venv
env/
venv/

# Jupyter notebooks
.ipynb_checkpoints/

# Data / local files
data/*.json

# PyCharm / VSCode / editor settings
.idea/
.vscode/

# Logs
*.log

# Python packaging
dist/
build/
*.egg-info/

# Other caches
.mypy_cache/
.pytest_cache/
